.profile-container {
  text-align: center;
  padding: 5rem;
  background-color: #80abe4;
  color: #fff;
  height: 100vh;
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #336e70;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: "Inter", sans-serif;
  padding: 0.5rem;
  border-radius: 5px;
  border: #336e70 solid 2px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.profile-data pre {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  overflow-x: auto;
}

.profile-data pre code {
  display: block;
  white-space: pre-wrap;
}

.add-medication {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-medication h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #336e70;
}

.add-medication form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-medication label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.add-medication input,
.add-medication textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.add-medication button {
  padding: 0.5rem 1rem;
  background-color: #51989b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-medication button:hover {
  background-color: #336e70;
}
